@import "tailwindcss";


.acf-postbox .inside {
  overflow: hidden;
  transition: max-height 300ms ease, opacity 200ms ease;
}

.acf-postbox.closed .inside {
  max-height: 0;
  opacity: 0;
}

.acf-postbox:not(.closed) .inside {
  max-height: 2000px;
  opacity: 1;
}
